.services {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 150px;
}
.services h1 {
  font-weight: bold;
  font-size: 40px;
}
.services .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.services .container .service {
  background-color: #1a1d24;
  display: flex;
  border-radius: 10px;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  padding: 20px 30px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.4s;
}

.services .container .service:hover {
  transform: scale(1.01);
  border: 2px solid #ff00ff;
  background-image: #232730;
}

.services .container .service h3 {
  font-size: 26px;
}
.services .container .service h2 {
  font-size: 30px;
  background: linear-gradient(135deg, #5fa8ff 110%, #6c63ff 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services .container .service p {
  line-height: 25px;
  color: #d4d4d4;
  font-size: 15px;
  /* max-width: 500px; */
}
.services .container .service .read-more {
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .services {
    margin: 50px 20px;
  }
  .services .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 360px) {
  .services {
    margin: 50px 0;
    padding: 10px;
  }

  .services .container {
    grid-template-columns: 1fr;
  }
}
