.services {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 150px;
}
.services h1 {
  font-size: 30px;
  font-weight: bold;
  font-size: 40px;
}
.services .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.services .container .service{
    display: flex;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.4s;
}

.services .container .service:hover{
    transform: scale(1.01);
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
}

.services .container .service h3{
    font-size: 26px;
}
.services .container .service h2{
    font-size: 30px;
    background: linear-gradient(350deg, #df7625 8.09%, #b415ff 99.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services .container .service p{
    line-height: 25px;
    color: #d4d4d4;
    font-size: 20px;
    max-width: 300px;

}
.services .container .service .read-more{
    font-size: 18px;
    margin-top: 20px;
}