h5{
}
.card{
}
.projects {
  padding: 5% 8%;
  text-align: center;
}
.projects h1 {
  font-size: 40px;
}

.projects hr {
  border: 4px solid var(--accent-color);
  width: 12%;
  margin: 1% auto 5%;
  opacity: 1;
}

.projects .card {
  background-color: #1a1d24;
  display: inline-block;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid #2a2e38;
  margin: 1%;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  width: 30%;
  color: #060f1d;
}

.projects .card:hover {
  transform: scale(1.05);
  background-color: #232730;
}
.projects .card img {
  border-radius: 50%;
  margin-bottom: 0.2%;
  width: 40%;
}
.projects .card h5 {
  color: #a0aec0;
  font-size: 1.2rem;
  margin-bottom: 2%;
}
.projects .card p {
  font-size: 15px;
  margin-bottom: 5%;
  text-align: left;
}
.projects .card a,
.projects a {
  background-color: #6c63ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.projects > a {
  margin-top: 5%;
  width: 200px !important;
}

@media (max-width: 768px) {
  .projects {
    padding: 5% 2%;
  }
  .projects .card {
    width: 80%;
  }
}

@media (max-width:360px) {
  .projects h1{
    font-size: 30px;
  }
  .projects .card{
    margin-bottom: 20px;
  }
}