.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.hero .profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 70px;
    border: 4px solid;
    border-color:#b415ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero .intro-text {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    width: 70%;
}
.hero .intro-text span{
    background:linear-gradient(27deg, #da7625 0.56%, #b923e1 99.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.hero-actions{
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;

}
.hero-connect{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df7625 -5.09%, #b415ff 99.94%);
    cursor: pointer;
}
.hero-resume{
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-resume:hover, .hero-connect:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}
.hero-connect:hover{
    border: 1px solid #fff;
}
.hero-resume:hover{
    /* background: linear-gradient(264deg, #df7625 -5.09%, #b415ff 99.94%); */
    border: 2px solid #b415ff;
}