.main-skills {
  color: #ffffff;
  padding: 5% 5%;
  text-align: center;
}

.main-skills h1 {
  /* color: ; */
  font-size: 40px;
  margin-bottom: 3%;
}

.main-skills div {
  background-color: black;
  border-radius: 5px;
  border-left: #6c63ff;
  text-align: left;
  padding: 10px;
  padding-left: 0.8%;
  margin: 1% auto;
  transition: all 0.3s ease-in-out;
  width: 80%;
}

.main-skills div:hover {
  background-color: #232730;
  transform: scale(1.01);
}

.main-skills div h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #5fa8ff;
}

@media (max-width: 768px) {
  .main-skills {
    padding: 5% 2%;
  }
  .main-skills div {
    width: 100%;
  }
  .main-skills h1 {
    font-size: 30px;
  }
  .main-skills div h4 {
    font-size: 18px;
  }
}
