.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px 150px;
  justify-content: center;
  align-items: center;
}

.about .title {
  font-size: 30px;
  font-weight: 500;
}

.about .description {
  display: flex;
  gap: 50px;
}
.img {
  width: 400px;
  border-radius: 10px;
}

.right-pane {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 15px auto;
}

.p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  line-height: 40px;
}

.about .skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .skill {
  display: flex;
  gap: 20px;
  align-items: center;
  transition: 0.3s;
}

.about .skill:hover {
  transform: scale(1.12);
}

.about .skill p {
  min-width: 150px;
  font-size: 20px;
  font-weight: 500;
}

.about .skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df7625 -5.09%, #b415ff 99.94%);
}

@media (max-width: 768px) {
  .about {
    margin: 50px 20px;
    gap: 30px;
  }
  .about .description {
    flex-direction: column;
    gap: 30px;
  }
  .img {
    width: 100%;
  }
  .right-pane {
    gap: 40px;
    margin: 0;
  }
  
}