.about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 150px;
  justify-content: center;
  align-items: center;
}

.about .title {
  font-size: 30px;
  font-weight: 500;
}

.about .description {
  display: flex;
  gap: 50px;
}
.img {
  width: 400px;
  border-radius: 10px;
}

.right-pane {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 15px auto;
}

.p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 40px;
}

.about .skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .skill {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s;
}

.about .skill:hover {
  transform: scale(1.02);
}

.about .skill p {
  min-width: 150px;
  font-size: 20px;
  font-weight: 500;
}

.about .skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(135deg, #5fa8ff 110%, #6c63ff 0%);
}

@media (max-width: 768px) {
  .about {
    margin: 50px 20px;
    gap: 30px;
  }
  .about .description {
    flex-direction: column;
    gap: 30px;
  }
  .img {
    width: 100%;
  }
  .right-pane {
    gap: 40px;
    margin: 0;
  }
}

@media (max-width: 360px) {
  .about {
    padding: 10px;
    margin: 0;
  }
  .about .title {
    font-size: 20px;
  }
  .p {
    font-size: 16px;
    line-height: 30px;
  }
  .about .skill p{
    font-size: 14px;
    min-width: 95px;
  }
  .about .skill hr{
    height: 6px;
  }
}
