.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.contact .contact-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact .contact-section .left-pane h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
    background:linear-gradient(135deg, #5fa8ff 110%, #6c63ff 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact .contact-section .left-pane p {
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
}

.contact .contact-section .left-pane .links {
  margin-top: 2rem;
}
.contact .contact-section .left-pane .links .contact-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.contact .contact-section .left-pane .links .contact-link a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}
.contact .contact-section .left-pane .links .contact-link a:hover {
  text-decoration: underline;
}

.contact .contact-section .left-pane .links .contact-link img {
  width: 30px;
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
  margin-right: 0.7rem;
  margin-bottom: 5px;
  vertical-align: middle;
}

.contact .contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .contact-section form input,
.contact .contact-section form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #32323c;
  color: #fffffa;
}

.contact .contact-section form input:focus,
.contact .contact-section form textarea:focus {
  outline: none;
  border-color: #df7625;
  box-shadow: 0 0 5px #df7625;
}

.contact .contact-section form button {
  padding: 0.75rem;
  background-color: #df7625;
    background:linear-gradient(135deg, #5fa8ff 110%, #6c63ff 0%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .contact-section form button:hover {
  background-color: hsl(26, 74%, 41%);
  transform: scale(1.02);
}
.contact .contact-section form .success {
  text-align: center;
  font-size: 20px;
  color: greenyellow;
}
.contact .contact-section form .error {
  text-align: center;
  font-size: 20px;
  color: red;
}

@media (max-width: 768px) {
  .contact{
    margin: 0;
    padding: 20px;
  }
  .contact .contact-section {
    flex-direction: column;
  }
  .contact .contact-section form input{
    margin: 0;
  }
  .contact h1{
    font-size: 30px;
  }
}

@media (max-width:360px){
  .contact{
    margin-left: 0px;
  }
  
  .contact .contact-section .left-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact .contact-section .left-pane p{
    font-size: 16px;
    line-height: 20px;
  }
  .contact .contact-section form{
    max-width: 340px;
  }

}