.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
}
.navbar-logo {
  font-size: 30px;
  font-weight: bold;
  color: #a1a1a1;
  text-decoration: none;
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 20px;
  position: relative;
}
.nav-items a {
  text-decoration: none;
  color: #a5a5a5;
  transition: all 0.3s;
}
.nav-items a:hover {
  color: #fff;
}
.nav-connect {
  padding: 10px 20px;
  background: linear-gradient(#da7625 0.36%, #b923e1 99.64%);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.3s ease;
}
.nav-connect:hover {
  background: linear-gradient(#b923e1 0.36%, #da7625 99.64%);
  transform: scale(1.05);
}
