:root {
  --primary-color: #007bff;
  --accent-color: #ff6f00;
  --header-bg: #0a192f;
  --btn-hover: #802d00;
  --icon-hover: #e65100;
  --footer-color: #1c1c1c;
  --text-color-1: #ffffff;
  --text-color-2: #333333;
  --h1: 2.3rem;
  --h2: 1.8rem;
  --normal: 1rem;
  --footer-text: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#intro,
#about,
#projects,
#skills,
#contact {
  transition: all 0.5s ease-in-out 0s;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

h1 {
  font-family: Poppins, sans-serif !important;
}

.nav-bar {
  background-color: var(--header-bg);
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
}

.bgdark {
  background-color: var(--header-bg);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out 0.02s;
}

.nav-menu {
  margin-left: 60%;
}

.nav-link {
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out 0.02s;
}
.nav-link:hover {
  color: var(--btn-hover);
  border-bottom: 2px solid;
  letter-spacing: 1px;
}

.intro {
  background-color: var(--header-bg);
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 100px 30px;
}

.intro div p {
  font-size: var(--h1);
  margin-left: 20px;
  line-height: 1.5em;
}
.intro div a {
  border: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  font-size: var(--normal);
  font-weight: bold;
  color: var(--text-color-1);
  display: inline-block;
  margin: 80px 20px;
  padding: 12px 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}
.intro div a:hover,
.about div a:hover {
  background-color: var(--btn-hover);
  letter-spacing: 1px;
}
.intro img {
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  width: 30%;
  height: 100%;
}

.about {
  color: var(--text-color-2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 5% 8%;
}
.about img {
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  justify-self: center;
  height: 350px;
  margin-right: 70px;
  width: 300px;
}
.about div h1 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-size: var(--h1);
  margin-bottom: 3%;
}

.about div h4 {
  font-size: 24px;
  margin-bottom: 1.5%;
}

.about div p {
  font-size: var(--normal);
  line-height: 1.5rem;
  margin-bottom: 4%;
}

.about div a {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color-1);
  display: inline-block;
  font-size: var(--normal);
  font-weight: bold;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 60%;
}

.projects {
  padding: 5% 8%;
  text-align: center;
}
.projects h1 {
  color: var(--text-color-2);
  font-size: var(--h1);
}

.projects hr {
  border: 4px solid var(--accent-color);
  width: 12%;
  margin: 1% auto 5%;
  opacity: 1;
}

.projects .card {
  display: inline-block;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 1%;
  padding: 0.2%;
  transition: all 0.3s ease-in-out;
  width: 30%;
}

.projects .card:hover {
  transform: scale(1.05);
}
.projects .card img {
  border-radius: 50%;
  margin-bottom: 0.2%;
  width: 40%;
}
.projects .card h5 {
  color: var(--text-color-2);
  font-size: 1.2rem;
  margin-bottom: 2%;
}
.projects .card p {
  font-size: 12px;
  margin-bottom: 5%;
}
.projects .card a,
.projects a {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color-1);
  display: inline-block;
  font-size: var(--normal);
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.projects .card a:hover,
.projects a:hover {
  background-color: var(--btn-hover);
  letter-spacing: 1px;
}

.projects > a {
  margin-top: 5%;
  width: 200px !important;
}

.skills {
  color: var(--text-color-1);
  padding: 5% 8%;
  text-align: center;
}

.skills h1 {
  color: var(--text-color-2);
  font-size: var(--h1);
  margin-bottom: 3%;
}

.skills div {
  background-color: var(--text-color-2);
  border-radius: 5px;
  border-left: 3px solid var(--accent-color);
  text-align: left;
  padding-left: 0.8%;
  margin: 1% auto;
  transition: all 0.3s ease-in-out;
  width: 80%;
}

.skills div:hover {
  background-color: var(--btn-hover);
  color: var(--text-color-1);
  transform: scale(1.01);
}

.skills div h4 {
  color: var(--text-color-1);
  margin-bottom: 10px;
}

.contact {
  background-color: var(--header-bg);
  color: var(--text-color-1);
  padding: 5% 8%;
  text-align: center;
}
.contact .location {
  border-radius: 5px;
  text-align: center;
  padding: 1%;
  margin: 2% auto;
  transition: all 0.3s ease-in-out;
  width: 80%;
}
.contact .location h1 {
  color: var(--accent-color);
  font-size: var(--h1);
  margin-bottom: 3%;
  text-align: center;
}

.contact .location p {
  font-size: var(--normal);
  line-height: 1.5rem;
  margin-bottom: 5%;
  text-align: left;
}
.contact .location a {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color-1);
  display: inline-block;
  font-size: var(--normal);
  font-weight: bold;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.contact .location a:hover {
  background-color: var(--btn-hover);
  letter-spacing: 1px;
}

.contact form {
  border-radius: 5px;
  padding: 2%;
  margin: 2% auto;
  transition: all 0.3s ease-in-out;
  width: 50%;
}

.contact form input {
  border: none;
  font-size: var(--normal);
  border-radius: 5px;
  padding: 1%;
  margin: 2% auto;
  outline: none;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.contact form input:focus {
  border: 2px solid var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}

.contact form textarea {
  border: none;
  font-size: var(--normal);
  border-radius: 5px;
  padding: 1%;
  margin: 2% auto;
  outline: none;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.contact form textarea:focus {
  border: 2px solid var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
}
.contact form button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color-1);
  display: inline-block;
  font-size: var(--normal);
  font-weight: bold;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.contact form button:hover {
  background-color: var(--btn-hover);
  letter-spacing: 1px;
}

.footer {
  background-color: var(--footer-color);
  color: #666666;
  font-size: var(--footer-text);
  text-align: center;
  padding: 3%;
}
.footer .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  justify-self: center;
  margin-bottom: 3%;
  padding: 2%;
}
.footer .socials span:hover {
  transition: all 0.3s ease-in-out;
  color: var(--btn-hover);
  letter-spacing: 0.1em;
}
.footer .socials span img {
  background-color: var(--text-color-1);
  border-radius: 50%;
  width: 20px;
  margin-right: 6px;
}
.footer .socials span a {
  text-decoration: none !important;
  color: var(--footer-text) !important;
}

/* Mobile screen size */
@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    height: auto;
    padding: 40px 10px;
    text-align: center;
  }
  .intro div p {
    font-size: 1.3rem;
    margin-left: 0;
  }
  .intro div a {
    margin: 30px 0;
    width: 90%;
  }
  .intro img {
    width: 60%;
    height: auto;
    margin: 20px auto 0 auto;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 8% 4%;
    text-align: center;
  }
  .about img {
    margin: 0 auto 20px auto;
    width: 80%;
    height: auto;
  }
  .about div h1,
  .about div h4 {
    text-align: center;
  }
  .about div a {
    width: 90%;
    margin: 0 auto;
  }

  .projects {
    padding: 8% 4%;
  }
  .projects .card {
    width: 90%;
    margin: 20px auto;
    display: block;
  }
  .projects .card img {
    width: 60%;
    height: auto;
  }

  .skills div {
    width: 98%;
    padding: 3%;
  }

  .contact .location,
  .contact form {
    width: 98%;
    padding: 3%;
  }

  .footer .socials {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

/* Tablet: 481px to 768px */
@media screen and (min-width: 481px) and (max-width: 770px) {
  .intro {
    display: grid;
    padding: 50px 20px;
    text-align: center;
  }
  .intro div a {
    margin-top: 16px;
  }
  .intro img {
    width: 45%;
    height: 200px;
    margin: -24px auto 0 auto;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 6% 6%;
    text-align: center;
  }
  .about img {
    width: 40%;
    margin: 0 auto 24px auto;
  }
  .about div h1 {
    margin-top: 1%;
  }
  .projects {
    padding: 6% 6%;
  }
  .projects .card {
    width: 70%;
    margin: 24px auto;
  }
  .projects .card img {
    width: 50%;
  }

  .skills div {
    width: 90%;
    padding: 2.5%;
  }

  .contact .location,
  .contact form {
    width: 90%;
    padding: 2.5%;
  }

  .footer .socials {
    flex-direction: row;
    width: 100%;
    padding: 0;
    justify-content: center;
    gap: 16px;
  }
}

@media screen and (min-width: 771px) and (max-width: 1024px) {
  .intro {
    flex-direction: row;
    padding: 60px 40px;
    text-align: left;
  }
  .intro img {
    width: 40%;
    margin: 0 0 0 32px;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    padding: 6% 8%;
    text-align: left;
  }
  .about img {
    width: 50%;
    margin: 0;
  }

  .projects {
    padding: 6% 8%;
  }
  .projects div {
    display: flex;
    flex-wrap: wrap;
  }
  .projects .card {
    width: 45%;
    margin: 24px 2.5%;
    display: inline-block;
    /* vertical-align: top; */
  }
  .projects .card img {
    width: 60%;
  }

  .skills div {
    width: 78%;
    padding: 2%;
    display: inline-block;
    margin: 1%;
  }

  .contact .location,
  .contact form {
    width: 70%;
    padding: 2%;
    margin: 2% auto;
  }

  .footer .socials {
    flex-direction: row;
    width: 80%;
    padding: 0;
    justify-content: center;
    gap: 24px;
  }
}
